<div class="board">
  <div
    class="player"
    cdkDropList
    #playerHand="cdkDropList"
    [cdkDropListData]="hand1"
  >
    <div class="heading hand">Opponent Hand</div>
    <div class="middle">
      <div class="card">Opponent Deck</div>

      <div *ngFor="let item of hand1" class="card" cdkDrag>{{ item }}</div>
    </div>
  </div>

  <div class="middle">
    <div class="continue contL" cdkDropList [cdkDropListData]="continueL">
      <div class="heading continue left">Continue Spot Left</div>
      <div *ngFor="let item of continueL" class="card" cdkDrag>{{ item }}</div>
    </div>

    <div
      class="play playL"
      cdkDropList
      #playableLeft="cdkDropList"
      [cdkDropListData]="playL"
      [cdkDropListConnectedTo]="[playerHand]"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="matchPredicate"
    >
      <div class="heading playleft">Playable Spot Left</div>
      <div *ngFor="let item of playL" class="card" cdkDrag>{{ item }}</div>
    </div>

    <div
      class="play playR"
      cdkDropList
      #playableRight="cdkDropList"
      [cdkDropListData]="playR"
      [cdkDropListConnectedTo]="[playerHand]"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="matchPredicate"
    >
      <div class="heading playright">Playable Spot Right</div>
      <div *ngFor="let item of playR" class="card" cdkDrag>{{ item }}</div>
    </div>

    <div class="continue contR" cdkDropList [cdkDropListData]="continueR">
      <div class="heading playleft">Continue Spot Right</div>
      <div *ngFor="let item of continueR" class="card" cdkDrag>{{ item }}</div>
    </div>
  </div>

  <div
    class="player"
    cdkDropList
    #playerHand="cdkDropList"
    [cdkDropListData]="hand2"
    [cdkDropListConnectedTo]="[playableLeft, playableRight]"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="noMatchPredicate"
  >
    <div class="heading hand">Player Hand</div>
    <div class="middle">
      <div *ngFor="let item of hand2" class="card" cdkDrag>{{ item }}</div>
      <div class="card">click to draw card(deck)</div>
    </div>
  </div>
</div>

<br />
<h2>testin displayin cards</h2>

<button btn btn-primary (click)="playCard()">Play Card</button>
<button btn btn-primary (click)="test()">Test</button>
<div>
  <app-cards *ngFor="let card of hand" [cardInfo]="card"></app-cards>
</div>
<!-- <img
  src="https://github.com/hayeah/playing-cards-assets/blob/master/png/10_of_clubs.png?raw=true"
  alt="10 of clubs"
  width="15%"
/>
<!-- images only worked when i put them in assets lol -->
<!-- 
<img src="../../assets/cardImages/bradCard.png" alt="card back" width="15%" /> -->
