<div class="board">
  <div id="hand1"
       class="player"
       cdkDropList
       #playerHand="cdkDropList"
       [cdkDropListData]="hand1">
    <div class="middle">
      <app-cards *ngFor="let card of hand1"
                 [cardInfo]="card"
                 cdkDrag></app-cards>
    </div>
  </div>

  <div class="middle">
    <div class="continue contL" cdkDropList [cdkDropListData]="continueL">
      <ng-container *ngFor="let card of continueL; first as isFirst">
        <app-cards *ngIf="isFirst" [cardInfo]="card" cdkDrag></app-cards>
      </ng-container>
    </div>

    <div id="playL"
         class="play playL"
         cdkDropList
         #playableLeft="cdkDropList"
         [cdkDropListData]="playL"
         [cdkDropListConnectedTo]="[playerHand]"
         (cdkDropListDropped)="drop($event)"
         [cdkDropListEnterPredicate]="matchPredicate">
      <ng-container *ngFor="let card of playL; first as isFirst">
        <app-cards *ngIf="isFirst" [cardInfo]="card" cdkDrag></app-cards>
      </ng-container>
    </div>

    <div id="playR"
         class="play playR"
         cdkDropList
         #playableRight="cdkDropList"
         [cdkDropListData]="playR"
         [cdkDropListConnectedTo]="[playerHand]"
         (cdkDropListDropped)="drop($event)"
         [cdkDropListEnterPredicate]="matchPredicate">
      <ng-container *ngFor="let card of playR; first as isFirst">
        <app-cards *ngIf="isFirst" [cardInfo]="card" cdkDrag></app-cards>
      </ng-container>
    </div>

    <div class="continue contR" cdkDropList [cdkDropListData]="continueR">
      <ng-container *ngFor="let card of continueR; first as isFirst">
        <app-cards *ngIf="isFirst" [cardInfo]="card" cdkDrag></app-cards>
      </ng-container>
    </div>
  </div>

  <div id="hand2"
       class="player"
       cdkDropList
       #playerHand="cdkDropList"
       [cdkDropListData]="hand2"
       [cdkDropListConnectedTo]="[playableLeft, playableRight]">
    <div class="middle">
      <app-cards *ngFor="let card of hand2"
                 [cardInfo]="card"
                 cdkDrag></app-cards>
    </div>
  </div>
</div>

<button btn btn-primary (click)="newGame()">Play</button>
<!-- <button btn btn-primary (click)="playCard()">Play Card</button> -->
<br><br>

<label for="name">Name: </label>
<input type="text" [formControl]="name" id="userInput" value="Joe">
<button btn btn-primary (click)="newUser()">New User</button>

<p>{{playerName}}</p>
<p>{{hand1Stack?.length}}</p>

<div *ngIf="isPlayerOne" {{hand1Stack.length}}></div>