div {
  font-family: Lato;
  text-align: center;
}
  
.board {
  display: flex;
  flex-direction: column;
}
  
.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.player {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.play {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.continue {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.card {
    padding: 0.75em 1.5em 0.75em 1em;
    margin: 1.5em;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "Roboto Slab", sans-serif;
}

.card:hover {
  outline: 3px solid #e23314;
}
  
.heading {
  padding: 1em 0;
  font-weight: bolder;
  color: #000000;
  font-family: "Roboto Slab", sans-serif;
}
  
.hand {
}
