div {
  font-family: Lato;
  text-align: center;
}
  
.board {
  display: flex;
  flex-direction: column;
  border: 1px #6F2232 ;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.player {
  /*border: 1px solid black;
  padding: 5px;
  display: flex;
  width: 1296px;
  flex-direction: column;*/
  background-color: #1A1A1D;
  padding: 10px;
}

.play {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #4E4E50;
  width: 400px;
  padding: .5em;
  justify-content: center;
}

.continue {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: #6F2232;
  width: 400px;
  padding: .5em;
  justify-content: center;
}

.card {
    padding: 0.75em 1.5em 0.75em 1em;
    margin: 1.5em;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "Roboto Slab", sans-serif;
}

.card:hover {
  outline: 3px solid #e23314;
}

.cdk-drag-placeholder {
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  border: 0px;
  min-width: 0px;
  max-width: 0px;
  min-height: 0px;
  max-height: 0px;
}
  
.hand {
  
}

#playGame {
    padding: 1%;
    background-color: #4E4E50;
}

button {
  background-color: #1A1A1D;
  color: white;
  font-size: large;
  margin: 0.5%;
}

label {
  font-size: x-large;
  color: white;
  margin: 1%;
}

.stack {
    color: white;
    margin: 5px 10px;
    font-size: xx-large;
}

